.titleSection {
  font-size: 20px;
  color: orange;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  align-items: center;
  background-color: #375A39;
  border-bottom: 3px solid white ;
  border-top: 3px solid white ;
  padding: .5rem;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../assets/BackNav.jpeg);
}
  
.containerL {
  margin-top: 100px; 
}
.cafeBg {
  border-radius: 20px;
}
.conteinerLC {
  width: 80vh;
  margin: auto;
  margin-top: 0.5rem;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}
.imgsTit {
  object-fit: cover;
  object-position: center;
  border: double 2px #18a59d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.conteinerLB2 > img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 250px;

}

.sectioner {
  white-space: pre;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3rem;
  position: sticky;
  top: 100px;
  width: 100%;
  z-index: 9999;
  background-image: url("../assets/BackNav.jpeg");
}
::-webkit-scrollbar {
  display: none;
} 
.sectioner > p {
  color: white;
  padding-left: .5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.sectioner > a{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  border-radius: 16px;
  margin-left: 8px;
  border: 2px solid orange;
  border-radius: 24px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 8px 12px;
  background-color: gray;
  margin-top: 0.3rem;
}
.sectioner > a:active {
  background-color: #fcac009d;
  border-radius: orange;
}



/* justify-content: flex-start; */
@media (max-width: 600px) {
  .sectioner {
    justify-content: flex-start;
    top: 65px;
  }
  .leftInfo {
    padding-left: 0;
  }
  .conteinerLC {
    width: 100%;
    margin: 0;
  }
  .containerL {
  margin-top: 65px; 
}
}
